<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Innovative Ideas">
         <property
               name="appName"
               value="Innovative Ideas">
         </property>
         <property
               name="aboutImage"
               value="icons/Help.png">
         </property>
         <property
               name="aboutText"
               value="Innovative Ideas&#x0A;&#x0A;Author: Sagnick Banerjee">
         </property>
         <property
               name="windowImages"
               value="icons/I.png,icons/I.png,icons/I.png,icons/I.png,icons/I.png,icons/I.png">
         </property>
         <property
               name="startupForegroundColor"
               value="00FF00">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
